<nav class="menu">
  <span class="menu-heading"><%= octicon('shield') %>&nbsp;&nbsp;Instructor's Panel</span>
  <%= active_link_to 'Modules', stafftools_courses_path, class: 'menu-item', class_active: 'selected' %>
  <%#= active_link_to 'Labs', stafftools_labs_path, class: 'menu-item', class_active: 'selected' %>
  <%= active_link_to 'Classrooms', stafftools_classrooms_path, class: 'menu-item', class_active: 'selected' %>
</nav>

<nav class="menu">
  <span class="menu-heading"><%= octicon('code') %>&nbsp;&nbsp;Admin Tools</span>
  <%= link_to 'Instructors', '#', class: 'menu-item' %>
  <%= link_to 'Search', '#', class: 'menu-item' %>
</nav>