<li class="simple public js-collab-repo" data-course-id="<%= course.id %>">
  <%= octicon('repo') %>

  <%= link_to [:stafftools, course] do %>
    <strong class="css-truncate-target"><%= course.title %></strong>
  <% end %><small><%= pluralize(course.labs.count, 'lab') %></small>
  <div class="fork-flag">
  <span class="text-muted css-truncate-target"><%= course.description %></span>
  </div>
</li>