<div class="boxed-group">
  <% if @courses.present? %>
    <%= link_to new_stafftools_course_path, class: 'boxed-group-action btn btn-sm btn-primary', role: 'button' do %>
      <%= octicon('plus') %>&nbsp;&nbsp;New module
    <% end %>
  <% end %>
  <h3>Modules</h3>

  <% if @courses.present? %>

    <div class="boxed-group-inner">
      <ul class="boxed-group-list boxed-group-standalone">
        <%= render @courses %>
      </ul>
    </div>
    <%= render partial: 'shared/pagination', locals: { collection: @courses } %>
  <% else %>
    <div class="boxed-group-inner">
      <div class="blankslate blankslate-fixed-width">
        <%= mega_octicon('file-text') %>
        <%= mega_octicon('cloud-upload') %>
        <h3>You do not have any modules yet.</h3>
        <p>You can begin creating labs once you have at least one module.</p>
        <%= link_to new_stafftools_course_path, class: 'btn btn-primary', role: 'button' do %>
          Create your first module
        <% end %>
      </div>
    </div>
  <% end %>

</div>