<div class="subhead">
  <%= link_to 'Settings', edit_stafftools_course_path(@course), class: 'right btn btn-sm' %>
  <h2 class="subhead-heading"><%= @course.title %></h2>
</div>
<p class="dashboard-notice">
  <%= @course.description %>
</p>

<div class="table-list-header table-list-bordered">
  <%= link_to new_stafftools_course_lab_path(@course), class: 'table-list-action btn btn-sm btn-primary', role: 'button' do %>
    <%= octicon('plus') %>&nbsp;&nbsp;New lab
  <% end %>
  <div class="table-list-header-toggle left">
    <h4>Labs</h4>
  </div>
</div>

<ul class="table-list table-list-bordered application-authorizations" id="sortable">
  <% @labs.each do |lab| %>
    <li data-sort-url=<%= sort_stafftools_course_lab_path(@course, lab.id) %> class="table-list-item">
      <div>

        <div class="table-list-cell oauth-logo-cell handle">
          ::::::::
        </div>

        <div class="table-list-cell oauth-info-cell">
          <%= link_to lab.title, stafftools_course_lab_path(@course, lab), class: 'oauth-app-access-name' %>
          <p class="oauth-app-list-meta">
            Last updated in <%= time_ago_in_words(lab.updated_at) %>
            <%# 'Created by <a href="https://github.com/imjching" class="oauth-app-owner">imjching</a>' %>
          </p>
        </div>

        <div class="table-list-cell oauth-view-revoke-cell">
          <a href="#delete_lab_<%= lab.id %>" class="btn btn-sm btn-danger" rel="facebox">Delete</a>
          <%= render partial: 'stafftools/courses/delete_lab_modal', locals: { lab: lab } %>
        </div>

      </div>
    </li>
  <% end %>
</ul>