<div class="subhead">
  <h2 class="subhead-heading">New lab</h2>
</div>

<%= form_for [:stafftools, @course, @lab] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render partial: 'stafftools/labs/lab_form_options', locals: { f: f } %>

  <%= f.submit 'Create Lab', class: 'btn btn-primary', id: 'lab_submit', disabled: true %>
  <%= link_to 'Cancel', stafftools_course_path(@course), class: 'btn', role: 'button' %>
<% end %>

<hr>

<div class="timeline-new-comment">
<div class="new-discussion-timeline timeline-comment">
  <div class="discussion-topic-header">
    <input aria-label="Title" autofocus="autofocus" class="form-control input-lg input-block input-contrast required title js-quick-submit js-session-resumable" id="issue_title" name="issue[title]" placeholder="Title" required="required" size="30" tabindex="1" type="text">
  </div>

  <div class="comment-content">

    <div class="js-suggester-container js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="/stafftools/preview">

      <div class="comment-form-head tabnav">
        <nav class="tabnav-tabs" role="tablist">
          <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
          <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab" aria-selected="false">Preview</button>
        </nav>
      </div>

      <div class="write-content js-write-bucket js-uploadable-container js-upload-markdown-image upload-enabled is-default" data-upload-policy-url="/upload/policies/assets" data-upload-repository-id="50278660">

        <textarea name="issue[body]" tabindex="1" id="issue_body" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-improved-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable" style="height: 200px;"></textarea>

        <p class="drag-and-drop">
          <span class="default">
            Attach files by dragging &amp; dropping,
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <a class="manual-file-chooser-text" href="#">selecting them</a>, or pasting
            from the clipboard.
          </span>
          <span class="loading">
            <img alt="" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16"> Uploading your files…
          </span>
          <span class="error bad-file">
            Unfortunately, we don’t support that file type.
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <span class="drag-and-drop-error-info">
              <a class="manual-file-chooser-text" href="#">Try again</a> with a
              PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.
            </span>
          </span>
          <span class="error bad-permissions">
            Attaching documents requires write permission to this repository.
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <span class="drag-and-drop-error-info">
              <a class="manual-file-chooser-text" href="#">Try again</a> with a PNG, GIF, or JPG.
            </span>
          </span>
          <span class="error repository-required">
            Unfortunately, we don’t support that file type.
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <span class="drag-and-drop-error-info">
              <a class="manual-file-chooser-text" href="#">Try again</a> with a PNG, GIF, or JPG.
            </span>
          </span>
          <span class="error too-big">
            Yowza, that’s a big file.
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <span class="drag-and-drop-error-info">
              <a class="manual-file-chooser-text" href="#">Try again</a> with a file smaller than 10MB.
            </span>
          </span>
          <span class="error empty">
            This file is empty.
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <span class="drag-and-drop-error-info">
              <a class="manual-file-chooser-text" href="#">Try again</a> with a file that’s not empty.
            </span>
          </span>
          <span class="error bad-browser">
            This browser doesn’t support file attachments.
            <span class="drag-and-drop-error-info">
              We recommend updating to the latest
              <a href="https://www.microsoft.com/ie">Internet Explorer</a>,
              <a href="https://chrome.google.com">Google Chrome</a>, or
              <a href="https://www.mozilla.org/firefox">Firefox</a>.
            </span>
          </span>
          <span class="error failed-request">
            Something went really wrong, and we can’t process that file.
            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
            <span class="drag-and-drop-error-info">
              <a class="manual-file-chooser-text" href="#">Try again.</a>
            </span>
          </span>
        </p>

      </div>

      <div class="preview-content">
        <div class="comment">
          <div class="comment-content">
            <div class="comment-body js-preview-body">

            </div>
          </div>
        </div>
      </div>

      <div class="toolbar-help">
        <a class="tabnav-extra" href="https://guides.github.com/features/mastering-markdown/" target="_blank">
          <%= octicon('markdown') %>
          Styling with Markdown is supported
        </a>
      </div>

      <div class="form-actions">
        <a class="btn btn-primary" role="button" href="#">Create Lab</a>
        <a class="btn" role="button" href="/stafftools/modules/topic-10">Cancel</a>
      </div>

    </div>
  </div>
</div>



</div>
