<div class="subhead">
  <%= link_to stafftools_course_path(@course), class: 'right btn btn-sm' do %>
    Back to module
  <% end %>
  <h2 class="subhead-heading">Editing lab: <%= @lab.title %></h2>
</div>

<%= form_for [:stafftools, @course, @lab] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render partial: 'stafftools/labs/lab_form_options', locals: { f: f, status: 'Update' } %>
<% end %>