<div class="subnav org-toolbar">

<!--   <form action="/orgs/cs-notes/people" class="subnav-search left is-sending" data-results-container="org-members" method="get">
    <div class="auto-search-group">
      <input class="form-control subnav-search-input input-contrast auto-search-input js-autosearch-field js-member-filter-field" type="text" name="query" value="" placeholder="Find a member…" aria-label="Find a member…" autocomplete="off">
      <%= octicon('search') %>
      <img class="spinner" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" alt="">
    </div>
  </form> -->

  <div class="right">
    <a href="#invite_members" class="btn btn-primary" rel="facebox">
      Invite members
    </a>

    <div id="invite_members" style="display:none">
      <div>
        <h2 class="facebox-header" data-facebox-id="facebox-header">Invite members to <%= @classroom.title %></h2>

        <p class="facebox-alert" data-facebox-id="facebox-description">
          Invitation links will only work for 3 hours. You have to regenerate another one if the old one has already expired.
        </p>

        <dl class="form-group">
          <%= render @classroom.classroom_invitation %>
        </dl>
        <%= form_tag({ controller: :classrooms, action: :get_new_invite_link}, method: :post, id: 'new_invite_link_form', remote: true) do %>
          <%= submit_tag 'Generate a new link', class: 'btn btn-block' %>
        <% end %>
      </div>
    </div>
  </div><!-- right end -->

</div><!-- subnav end -->

<div class="table-list-header table-list-bordered">

  <span class="table-list-heading table-list-header-meta">
    <% if @classroom_accesses.empty? %>
      None in the <%= @classroom.title %> class
    <% else %>
      <span class="class_size"><%= @classroom_size %></span> people in the <%= @classroom.title %> class
    <% end %>
  </span>

</div>

<div id="org-members">
  <ul class="member-listing table-list table-list-bordered">

    <% @classroom_accesses.each do |access| %>
      <% user = access.user %>
      <% all_user_info = access.user.all_user_info %>

      <li class="table-list-item member-list-item" data-user-id="<%= user.id %>">
        <div class="table-list-cell member-info css-truncate">
          <img alt="@<%= all_user_info.login %>" class="avatar member-list-avatar" height="48" src="<%= all_user_info.avatar_url %>&amp;s=96" width="48">
          <div class="member-info-content">
            <a href="<%= all_user_info.html_url %>" class="member-link">
              <strong class="member-username css-truncate-target"><%= all_user_info.login %></strong>
            </a>
            <span class="member-fullname css-truncate-target" itemprop="name"><%= all_user_info.name %></span>
          </div>
        </div>

        <div class="member-meta table-list-cell">
          <!-- Completed 182/190 labs -->
        </div>

        <div class="member-meta table-list-cell">
          <% if access.admin? %>
            Admin
          <% else %>
            Student
          <% end %>
        </div>

        <div class="member-visibility member-meta table-list-cell">
          <!-- <button class="btn btn-sm btn-outline" type="button">Make Mentor</button> -->
          <% if access.admin? %>
            -
          <% else %>
            <a href="#remove_<%= user.id %>" class="btn btn-sm btn-danger" rel="facebox">Remove</a>

            <div id="remove_<%= user.id %>" style="display:none">
              <div>
                <h2 class="facebox-header" data-facebox-id="facebox-header">Are you sure you want to remove <%= all_user_info.login %>?</h2>

                <div class="facebox-alert" data-facebox-id="facebox-description">
                  <%= all_user_info.login %> will no longer be able to access this classroom.
                </div>

                <%= form_tag remove_member_stafftools_classroom_path(id: @classroom, user_id: user.id), method: :delete, id: 'remove_member_form', remote: true do %>
                  <div class="form-actions">
                    <%= submit_tag 'I understand, revoke access', class: 'btn btn-block btn-danger' %>
                  </div>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>
      </li>

    <% end %>

  </ul>
</div>

<!--
<div class="table-list-header js-org-toolbar">
  <a href="#" class="btn btn-sm btn-danger js-member-remove-confirm-button" data-url="/orgs/imjching-playground/people/destroy_members_facebox" data-ga-click="Orgs, remove from organization, location:member list toolbar; text:Remove from organization">Remove from organization</a>
</div>
 -->
