<div class="classroom-head">
  <h1>
    <%= octicon('terminal') %>
    <%= link_to 'Classrooms', dashboard_path %><span class="path-divider">/</span><%= link_to @classroom.title, { controller: 'classrooms', action: 'show', id: @classroom, page: 1 }, class: 'text-bold' %><span class="path-divider">/</span><%= @lab.title %>
  </h1>
</div>
<div class="columns">
  <div class="one-fourth column">
    <nav class="menu">
      <%= active_link_to 'Description', classroom_lab_path(id: @lab), class: 'menu-item', class_active: 'selected', active: :exclusive %>
      <%= active_link_to 'Your Attempts', classroom_lab_solutions_path(lab_id: @lab), class: 'menu-item', class_active: 'selected', active: :exclusive %>
      <%= active_link_to 'Recent', all_classroom_lab_solutions_path(lab_id: @lab), class: 'menu-item', class_active: 'selected' %>
    </nav>
  </div>
  <div class="three-fourths column">

    <div class="table-list-header table-list-bordered">
      <%= link_to "#{octicon('plus')}&nbsp;&nbsp;New attempt".html_safe, { controller: 'solutions', action: 'create', lab_id: @lab }, method: :post, class: 'table-list-action btn btn-sm btn-primary', role: 'button' %>

      <div class="table-list-header-toggle left">
        <h4>Attempts</h4>
      </div>
    </div>

    <% if @solutions.present? %>

      <ul class="table-list table-list-bordered show-attempts">

        <% @solutions.each do |solution| %>
           <li class="table-list-item">
            <div>
              <div class="table-list-cell attempt-link-cell">
                <% if solution.github_repo_id.present? && solution.github_repo_id > 0 %>
                  <%= link_to solution.html_url, solution.html_url, target: '_blank', class: 'attempt-link-meta' %>
                <% elsif solution.github_gist_hash.present? %>
                  <%= link_to solution.html_url, solution.html_url, target: '_blank', class: 'attempt-link-meta' %>
                <% else %>
                <span class="attempt-link-meta">-</span>


                <% end %>
              </div>

              <div class="table-list-cell attempt-btn-cell">
                <% if solution.completed? %>
                  <button type="button" class="btn btn-sm btn-outline disabled">Current solution</button>
                <% else %>
                  <%= link_to classroom_lab_solution_path(@classroom, @lab, solution), method: 'put', class: 'btn btn-sm btn-outline' do %>
                    <span class="octicon mr-1 octicon-pin"></span>Mark as solution</a>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>

      </ul>

    <% else %>

      <div class="boxed-group">
        <div class="boxed-group-inner">
          <div class="blankslate blankslate-fixed-width">
            <h3>You do not have any attempts yet.</h3>
            <p>Let's create one today!</p>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>